<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    Lady dimitrescu vive no leste da europa com suas tres filhas Cassandra,Bela e Daniela.Lady Dimitrescu ama sangua de humanos e gosta de tortura homes junto com suas filhas .
</body>
</html>